@media only screen and (max-width:450px) {
    .header{
        padding: 20px 10px;
    }
    .logo img{
        width: 160px;
    }
    .header nav{
        display: none;
    }
    .menu{
        display: block;
    }
    .menu:hover{
        cursor: pointer;
    }
    .nav2{
        display: none;
        top: 20px;
        right: 35px;
    }
    .menu:hover .nav2{
        display: block;
        position: absolute;
    }
    .nav2 li:hover .dropdown-menu{
        top: -10px;
        right: 150px;
        z-index: 3;
    }
    .login{
        display: none;
    }
    .register{
        display: none;
    }
    .logged{
        display: block;
    }
    .reg{
        display: block;
    }
    .showcase{
        height: 300px;
    }
    .showcase h3{
        display: none;
    }
    .showcase p{
        display: none;
    }
    .showcase2{
     width: 100%;
    }
    .space{
        width: 150px;
        /* height: 5vh; */
        /* margin: 0 auto; */
        position: relative;
        /* margin-bottom: 10px; */
        /* margin-top: 20px; */
    }
    .intro img{
        display: block;
        width: 25px;
        gap: 0;
    }
    .showcase2 p{
        color: aqua;
        font-size: 8px;
    }
    .row{
        /* width: 100px; */
        margin-left: -30px;
        /* gap: 5px; */
    }
    .col-md-4{
        width: 100px;
        height: 400px;
        /* gap: 5px; */
    }
    .row p{
        font-size: 11px;
        margin-top: -15px;
    }
    .row h3{
        margin-top: -40px;
        font-size: 20px;
    }
    .top-img{
        width: 100%;
        background-position: right;
        margin-right: -50px;
        margin-top: 10px;
        background-repeat: no-repeat;
    }
    .top-img2{
        width: 100%;
        background-position: right;
        margin-right: -50px;
        margin-top: 10px;
        background-repeat: no-repeat;
    }
    .top-img3{
        width: 100%;
        background-position: right;
        margin-right: -50px;
        margin-top: 10px;
        background-repeat: no-repeat;
    }
    .row2{
        width: 100%;
    }
    .col-md-5{
        margin-left: -50px;

    }
    .texts{
        width: 430px;
    }
    .textss{
        width: 200px;
    }
    .textss h3{
        font-size: 20px;
    }
    .textss p{
        font-size: 14px;
    }
    .btn1{
        display: block;
    }
    .texts img{
        width: 150px;
        margin-right: -2px;
    }
    .xmas{
        display: none;
    }
    .top-img4{
        width: 100%;
        background-position: right;
        margin-right: -50px;
        margin-top: 10px;
        background-repeat: no-repeat;
    }
    .print{
        display: flex;
    }
    .col-md-6{
        /* width: 200px; */
        margin-left: -50px;
    }
    .col-md-6 h3{
        font-size: 20px;
    }
    .col-md-6 p{
        font-size: 12px;
    }
    .skills{
        width: 350px;
        display: flex;
    }
    .skills-content{
        width: 100px;
    }
    .skills-content img{
        width: 150px;
        gap: 20px;
        /* margin-left: 10px; */
    }
    
    .skills-contentss{
        width: 100px;
    }
    .skills-contentss img{
        width: 150px;
        gap: 20px;
        margin-left: -100px;
    }
    .skills-content h2{
        font-size: 28px;
        /* margin-left: -100px; */
    }
    .skills-content p{
        font-size: 10px;
    }
    .skills-contentss h2{
        font-size: 28px;
        margin-left: -60px;
    }
    .skills-contentss p{
        /* padding: 0 0 30px; */
        font-size: 10px;
    }
    .showcase3 .numbers{
        font-size: 28px;
    }
    .showcase3 .imagess img{
        width: 400px;
        margin-left: -25px;
    }
    .dream ul{
        display: block;
    }
    .dream ul li{
        gap: 45px;
        font-size: 19px;
    }
    .showcase4{
        width: 200px;
        margin-left: -30px;
    }
    .col-md-7{
        height: 300px;
        gap: 15px;
    }
    .showcase4 p{
        font-size: 11px;
    }
    .showcase4 h3{
        font-size: 20px;
    }
    .img3 img{
        width: 100px;
        margin-left: -10px;
    }
    .start2{
        width: 100px;
        margin-left: 120px;
    }
    .invest h1{
        font-size: 20px;
    }
    .invest .pro{
        width: 50px;
    }
    .col-md-19{
        width: 50px;
    }
    .showcase10 p{
        font-size: 11px;
    }
    .showcase10 h3{
        font-size: 20px;
    }
    .showcase10 h1{
        font-size: 20px;
    }
    .fa-check{
        font-size: 10px;
    }
    .unlimited ul{
        display: flex;
        gap: 20px;
    }
    .unlimited ul li{
        margin-top: 50px;
        font-size: 12px;
    }
    .cut ul{
        display: flex;
        gap: 20px;
    }
    .cut ul li{
        margin-top: 50px;
        font-size: 12px;
    }
    .start3{
        width: 40%;
        margin-left: 130px;
    }
    .success img{
        width: 400px;
        height: 150px;
        margin-left: 20px;
    }
    .success p{
        font-size: 14px;
        margin-left: 60px;
    }
    .space2{
        width: 400px;
        height: 5vh;
        margin: 0 auto;
        position: relative;
        margin-bottom: 10px;
        margin-top: 20px;
    }
    .line4{
        background: #bbb;
        height: 2px;
        margin-bottom: 20px;
    }
    .success2 p{
        margin-left: 60px;

    }
    .thanks{
        margin-left: 5px;
        padding: 0 0 300px 0;
        color: #bbb;
    }
    .award h1{
        font-size:29px ;
        margin-top: -290px;
    }
    .bass .fa-star{
        font-size: 9px;
    }
    .bass h3{
        font-size: 15px;
    }
    .bass p{
        font-size: 12px;
    }
    .bass .fa-square-facebook{
        font-size: 20px;
    }
    .bass .fa-google-play{
        font-size: 20px;
    }
    .showcase-container{
        display: block;
        margin-top: -70px;

    }
    .showcase-container2{
        width: 100%;
        /* margin-top: -70px; */
    }
    .showcase-container2 h3{
        font-size: 29px;
    }
    .form2{
        width: 100%;
    }
    .form-group input{
        width: 100%;
    }
    .form-group1 input{
        width: 100%;
    }
    .form-group2 input{
        width: 100%;
    }
    .sign .sign-up{
        margin-left: 30px;
    }
    .btn2{
        width: 100%;
        gap: 40px;
    }
    .google2{
        width: 110px;
        margin-left: -50px;
        font-size: 14px;
    }
    .apple2{
        width: 110px;
        font-size: 14px;
    }
    .facebook2{
        width: 110px;
        font-size: 14px;
    }
    .btn{
        width: 100%;
        gap: 40px;
    }
    .google{
        width: 110px;
        margin-left: -50px;
        font-size: 14px;
    }
    .apple{
        width: 110px;
        font-size: 14px;
    }
    .facebook{
        width: 110px;
        font-size: 14px;
    }
    .showcase-container4{
        margin-top: -40px;
        margin-left: -190px;
        font-size: 10px;
    }
    /* .showcase-container4 ul{
        width: 100%;
        margin-left: 1000px;
    } */
    .showcase-container4 ul li{
        font-size: 10px;
    }
    .showcase-container4 p{
        font-size: 8px;
    }
    .languages{
        margin-left: 10px;
        gap: 10px;
    }
    .social ul{
        gap: 5px;
    }
    .social ul li{
        width: 200px;
        gap: 150px
    }
    .social .fa-linkedin-in{
        font-size: 15px;
        margin-left: -20px;
    }
    .fa-facebook-f{
        font-size: 15px;
    }
    .fa-twitter{
        font-size: 15px;
    }
    .fa-instagram{
        font-size: 15px;
    }
    button{
        width: 70px;
        margin-left: -10px;
    }
    button p{
        font-size: 15px;
    }
    .fa-youtube{
        font-size: 15px;
        margin-left: -5px;
    }
    button .fa-apple{
        font-size: 20px;
    }
    footer ul{
        width: 100%;
        gap: 5px;
    }
    footer ul li{
        font-size: 9px;
    }
}